[Unit]
Description=SteamOS Intel Handheld Power Control
After=dbus.service systemd-user-sessions.service

[Service]
Type=simple
StateDirectory=steamos-intel-handheld
ExecStart=/opt/steamos-intel-handheld/bin/steamos-intel-handheld-power-control wait-and-serve --user deck --bus system --apply-rapl --apply-msi-claw-ec --ec-write-debounce-ms 750 --prepare-mangohud-sensors --min-w 8 --max-w 30 --short-limit-max-w 37 --state-file /var/lib/steamos-intel-handheld/tdp_w
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
