[Unit]
Description=Restore steamos-intel-handheld /etc integration files
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/steamos-intel-handheld/bin/steamos-intel-handheld-restore-etc --apply

[Install]
WantedBy=multi-user.target
