[Unit]
Description=SteamOS Intel handheld gamescope display workaround
After=gamescope-session.service
BindsTo=gamescope-session.service
PartOf=gamescope-session.service
ConditionPathExists=/usr/bin/gamescopectl

[Service]
Type=oneshot
ExecStart=/opt/steamos-intel-handheld/bin/steamos-intel-handheld-gamescope-display apply
RemainAfterExit=yes
TimeoutStartSec=360

[Install]
WantedBy=gamescope-session.service
