[Unit]
Description=SteamOS Intel handheld gamescope display workaround
After=gamescope-session.service
BindsTo=gamescope-session.service
PartOf=gamescope-session.service
ConditionPathExists=/usr/bin/gamescopectl

[Service]
Type=simple
ExecStart=/opt/steamos-intel-handheld/bin/steamos-intel-handheld-gamescope-display apply

[Install]
WantedBy=gamescope-session.service
